<div
fxLayout="row wrap"
fxLayout.xs="column"
fxLayoutAlign="space-around"
>
    <div fxFlex="80">
        <form (ngSubmit)="buscarAnime()" >
            <mat-form-field class="input-search" appearance="outline">
                <mat-label>Buscar pelicula</mat-label>
                <input
                [(ngModel)]="termino"
                name="termino"
                type="email"
                matInput
                placeholder="Blue Look...">
            </mat-form-field>
        </form>
    </div>

</div>


<div>
    <app-card-anime
 fxLayout="row wrap" 
fxLayout.xs="colum"
fxLayoutAlign="center"
fxLayoutGap="20px"
[misAnimes]="animes">
</app-card-anime>
</div>
